.header {
    &__nav {
        position: relative;
        padding-top: 32px;
    }
    &__nav::before {
        content: '';
        position: absolute;
        bottom: -32px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $primaryC;
    }
    &__primary {
        display: flex;
        flex-direction: column;
        padding-bottom: 104px;
    }
    &__info {
        padding: 55px 0px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        @media (max-width: 658px) {
            flex-direction: column;
            align-items: flex-start;
        }
        @media (max-width: 475px) {
            flex-wrap: wrap;
            flex-direction: row;
            align-items: flex-start;
        }
    }
    &__title {
        margin: 0;
        color: $color_2;
        font-family: $ff;
        font-size: 48px;
        line-height: 59px;
        @media (max-width: 658px) {
            margin-bottom: 23px;
        }
    }
    &__text {
        margin-bottom: 9px;
        font-size: 18px;
        line-height: 22px;
        @media (max-width: 475px) {
            width: 100%;
        }
    }
    &__language {
        transform-origin: left;
        transform: rotate(270deg);
        margin-right: -60px;
    }
    &__image {
        width: 100%;
        height: auto;
    }
}

.info {
    &__body {}
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__link {
        color: $primaryC;
        font-size: 18px;
        line-height: 22px;
    }
    &__link:hover {
        font-family: $ff;
        color: $color_2;
    }
    @media (max-width: 475px) {
        width: 100%;
        margin-left: -120%;
        z-index: 100;
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        position: fixed;
        padding-top: 67px;
        background: #fff;
        transition: all 0.7s;
        &__link {
            font-size: 34px;
            line-height: 42px;
            margin-bottom: 68px;
        }
        &::before {
            display: none;
        }
        &.active {
            margin: 0;
        }
    }
}

.menu-burger {
    display: none;
    visibility: hidden;
    z-index: 101;
    @media (max-width: 475px) {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        visibility: visible;
        margin-top: 17px;
        span {
            position: absolute;
            width: 100%;
            background: $color_2;
            height: 2px;
            left: 0;
            top: 9px;
            transition: all 0.7s;
        }
        &::before,
        &::after {
            content: '';
            width: 100%;
            left: 0;
            position: absolute;
            height: 2px;
            background: $color_2;
            transition: all 0.7s;
        }
        &::after {
            top: 0;
        }
        &.active span {
            transform: scale(0);
            background: $primaryC;
        }
        &::before {
            bottom: 0;
        }
        &.active::after {
            transform: rotate(45deg);
            top: 9px;
            background: $primaryC;
        }
        &.active::before {
            transform: rotate(-45deg);
            bottom: 9px;
            background: $primaryC;
        }
    }
}

.info__body {
    @media (max-width: 658px) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
}

.language {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primaryC;
    &__link {}
    &__link:hover {
        font-family: $ff;
        color: $color_2;
    }
    &__link:not(:last-child) {
        border-right: 3px solid $color_2;
        padding-right: 5px;
        margin-right: 5px;
    }
    @media (max-width: 658px) {
        display: none;
        visibility: hidden;
        margin: 0;
    }
}