.header {
    margin: auto;
    max-width: 1024px;
    &__nav {
        position: relative;
        padding-top: 32px;
    }
    &__nav::before {
        content: '';
        position: absolute;
        bottom: -32px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $primaryC;
    }
    &__primary {
        display: flex;
        flex-direction: column;
        padding-bottom: 104px;
    }
    &__info {
        padding: 55px 0px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    &__title {
        margin: 0;
        color: $color_2;
        font-family: $ff;
        font-size: 48px;
        line-height: 59px;
    }
    &__text {
        margin-bottom: 9px;
        font-size: 18px;
        line-height: 22px;
    }
    &__language {
        transform-origin: left;
        transform: rotate(270deg);
        margin-right: -60px;
    }
    &__image {
        width: 100%;
        min-height: 387px;
        height: auto;
    }
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__link {
        color: $primaryC;
        font-size: 18px;
        line-height: 22px;
    }
    &__link:hover {
        font-family: $ff;
        color: $color_2;
    }
}

.language {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primaryC;
    &__link {}
    &__link:hover {
        font-family: $ff;
        color: $color_2;
    }
    &__link:not(:last-child) {
        border-right: 3px solid $color_2;
        padding-right: 5px;
        margin-right: 5px;
    }
}