.header {
    &__nav {
        position: relative;
        padding-top: 32px;
    }
    &__nav::before {
        content: '';
        position: absolute;
        bottom: -32px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $primaryC;
    }
    &__primary {
        display: flex;
        flex-direction: column;
        padding-bottom: 104px;
    }
    &__info {
        padding: 55px 0px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        @media (max-width: 658px) {
            align-items: flex-start;
        }
    }
    &__title {
        margin: 0;
        color: $color_2;
        font-family: $ff;
        font-size: 48px;
        line-height: 59px;
        @media (max-width: 658px) {
            margin-bottom: 23px;
        }
    }
    &__text {
        margin-bottom: 9px;
        font-size: 18px;
        line-height: 22px;
    }
    &__language {
        transform-origin: left;
        transform: rotate(270deg);
        margin-right: -60px;
    }
    &__image {
        width: 100%;
        height: auto;
    }
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__link {
        color: $primaryC;
        font-size: 18px;
        line-height: 22px;
    }
    &__link:hover {
        font-family: $ff;
        color: $color_2;
    }
    @media (max-width: 475px) {
        flex-direction: column;
        align-items: flex-start;
        display: none;
        visibility: hidden;
        &__link {
            font-size: 34px;
            line-height: 42px;
            margin-bottom: 68px;
        }
        &::before {
            display: none;
        }
    }
}

.menu-burger {
    display: none;
    visibility: hidden;
    @media (max-width: 475px) {
        display: flex;
        visibility: visible;
        margin-top: 15px;
    }
}

.info__body {
    @media (max-width: 658px) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
}

.language {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primaryC;
    &__link {}
    &__link:hover {
        font-family: $ff;
        color: $color_2;
    }
    &__link:not(:last-child) {
        border-right: 3px solid $color_2;
        padding-right: 5px;
        margin-right: 5px;
    }
    @media (max-width: 658px) {
        display: none;
        visibility: hidden;
        margin: 0;
    }
}