.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__about {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    &__title {
        margin-bottom: 25px;
    }
    &__description {
        width: 100%;
        max-width: 485px;
        margin-bottom: 55px;
    }
    &__skills {
        padding: 91px 0px 110px 0px;
        max-width: 1024px;
        width: 100%;
        text-align: center;
    }
    &__skills h2 {
        margin-bottom: 70px;
    }
    &__skills p {
        margin-bottom: 84px;
    }
    &__editor {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 658px) {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    }
    &__column {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        @media (max-width: 658px) {
            margin-bottom: 85px;
        }
    }
    &__image {
        width: 90px;
        height: 90px;
        margin-bottom: 25px;
    }
    &__text {
        margin-bottom: 40px;
    }
    &__rating {}
    &__portfolio {}
}

.editor {
    display: flex;
    align-items: center;
    &__body {
        flex: 0 1 206px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.portfolio {
    padding-bottom: 0px;
    &__title {
        margin-bottom: 50px;
    }
    &__post {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    &__image {
        width: 100%;
        height: auto;
        margin-bottom: 45px;
    }
    &__description {
        margin-bottom: 100px;
    }
    &__description:hover {
        text-decoration: underline;
    }
}

.footer {
    &__container {
        padding: 115px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        max-width: 1024px;
    }
    &__contacts {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 100px;
    }
    &__title {
        margin-bottom: 20px;
    }
    &__description {
        text-align: center;
        margin-bottom: 35px;
    }
    &__button {}
    &__social {
        display: flex;
        align-items: center;
        margin-bottom: 45px;
    }
    &__social-link {
        margin-right: 60px;
        @media (max-width: 375px) {
            margin-right: 30px;
        }
    }
    &__social-link:last-child {
        margin: 0;
    }
    &__social-icon {}
    &__text {}
}

.button {
    cursor: pointer;
    padding: 10px 30px;
    border: 1px solid $color_2;
    border-radius: 25px;
    background: $color_2;
    &__text {
        color: #fff;
        font-family: Gilroy-Bold;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
    }
    @media (max-width: 400px) {
        width: 100%;
    }
}